.intro {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 810px;
}

.intro__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/intro-main.jpg") center/cover no-repeat;
}

.intro__main {
  padding: 92px 67px;
  border: #fff 2px solid;
  margin-bottom: 80px;
  z-index: 1;
}

.intro__logo {
  display: block;
  width: 185px;
  height: 86px;
}

.intro__main-text {
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.intro__main-text:before {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.intro__text {
  max-width: 730px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
