.new-season {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  font-family: Playfair Display;
}
.new-season__products {
  padding-top: 93px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.new-season__products-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.new-season__cards {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 50px;
}

/* =========================================== */
.new-season__main {
  position: relative;
  background: url("../images/new-season-main.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-season__main-container {
  padding-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-season__main-title {
  padding: 0 10px;
  display: block;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .new-season {
    display: flex;
    flex-direction: column;
  }
}
